<mat-sidenav-container class="container">
    <mat-sidenav #sidebar mode="side" opened>
        <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon class="menu-icon" (click)="sidebar.toggle()" mat-button> menu </mat-icon> 
                </mat-toolbar>
            </div>
            <div class="main">
               <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>